//
//  gmplib.xcconfig
//  gmplib
//
//  Created by Feldmaus on 04.09.10.
//  Copyright 2010 ischlecken.com. All rights reserved.
//
VALID_ARCHS = i386 armv6 armv7
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_MODEL_TUNING = none
CURRENT_PROJECT_VERSION = 5.0.1
OTHER_LDFLAGS = 
OTHER_CFLAGS = 
GCC_PREPROCESSOR_DEFINITIONS = __GMP_WITHIN_GMP HAVE_CONFIG_H
ENABLE_OPENMP_SUPPORT = NO
LD_OPENMP_FLAGS = 					
HEADER_SEARCH_PATHS = $(PROJECT_DIR)/src $(BUILD_ROOT)/include32 $(BUILD_ROOT)/include32/mpn $(BUILD_ROOT)/include32/mpz
ARCHS = $(ARCHS_STANDARD_32_BIT)
GCC_THUMB_SUPPORT=NO

